{% comment %}
Group awards by year but maintain 2-column layout
{% endcomment %}
{% assign awards_by_year = data[1] | group_by: 'date' | sort: 'name' | reverse %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for year_group in awards_by_year %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px">
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px"> {{ year_group.name }} </span>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          {% for content in year_group.items %}
            <h6 class="title font-weight-bold ml-1 ml-md-4 {% unless forloop.first %}mt-3{% endunless %}">
              {% if content.url %}
                <a href="{{ content.url }}">{{ content.title }}</a>
              {% else %}
                {{ content.title }}
              {% endif %}
            </h6>
            {% if content.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.awarder }}</h6>
            {% endif %}
            {% if content.summary %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
